.user-title {
  cursor: pointer;
  text-align: center;
}

.user-title:hover {
  color: grey;
}

.users {
  text-align: center;
  margin-left: 10px;
}

.users__container {
  display: flex;
  justify-content: start;
}

.users-wrapper {
  display: flex;
  justify-content: center;
}
